.mr-photo .swiper-mr-photo .swiper-button {
    top: unset;
    bottom: 0;
    height: 36px;
    width: 36px;
    border-radius: 12px;
}

.mr-grid-container {
    display: flex;
    gap: 20px;
}

.mr-photo .swiper-mr-photo .swiper-button-prev {
    left: unset;
    right: 120px;
}

.mr-photo .swiper-mr-photo .swiper-pagination {
    display: none;
}

.mr-stages-content .mr-stages-slider .swiper-slide {
    width: calc((100% - 80px) / 5);
}

.mr-stages-content .mr-stages-slider .mr-stage {
    min-width: auto;
}

.mr-stages-content .mr-stages-slider .swiper-slide:last-child {
    width: 80px !important;
}

.swiper-mr-stages-nav {
    position: relative;
}

.swiper-mr-stages .swiper-button-next {
    display: flex;
    height: 26px;
    width: 26px;
    flex: none;
    background-image: url('./stages-icon.svg');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    border-radius: 9px;
    margin-top: -3px;
    margin-right: -4px;
}

.swiper-mr-stages .swiper-button-prev {
    display: flex;
    height: 26px;
    width: 26px;
    flex: none;
    transform: rotate(180deg);
    background-image: url('./stages-icon.svg');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    border-radius: 9px;
    margin-top: -3px;
    margin-left: -20px;
}

.swiper-mr-stages .swiper-button-next::after {
    display: none;
}

.swiper-mr-stages .swiper-button-prev::after {
    display: none;
}

.swiper-mr-stages .swiper-button-prev {
    display: flex;
}

.swiper-mr-stages .swiper-button-prev.swiper-button-disabled {
    display: none;
}

.swiper-mr-stages .swiper-button-next.swiper-button-disabled {
    display: none;
}

.mr-widget.mr-widget--finance {
    padding: 0 2px;
}

.mr-team__show-more {
    display: flex;
    justify-content: center;
    margin-top: -4px;
    display: none;
}

.mr-team__show-more-btn {
    font-size: 16px;
    font-weight: 500;
    color: #9C9AA5;
    padding: 4px;
    cursor: pointer;
}

.mr-team .mr-team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.mr-finance-stat-content .mr-finance-stat-value {
    font-size: 14px;
    text-wrap: nowrap;
}

.mr-finance-stat-content .mr-finance-stat-desc {
    font-size: 10px;
    text-wrap: nowrap;
}

.mr-finance .mr-finance-groups {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
}

.mr-finance-group-heading .mr-finance-group-title {
    font-size: 16px;
}

.mr-finance-stat-heading .mr-finance-stat-title {
    font-size: 12px;
}

.mr-finance-groups .mr-finance-group {
    padding: 20px 19px;
}

.mr-finance-groups .mr-finance-group:not(:last-child) {
    border-right: 1px solid #F2F2F2;
}

.mr-finance-group-content .mr-finance-stats {
    flex-wrap: nowrap;
    gap: 13px;
    flex-direction: row;
}

.mr-finance-stat.mr-finance-stat--plan {
    gap: 8px
}

.mr-finance-stat .mr-finance-stat-content {
    gap: 4px
}

.mr-teammate .mr-teammate-contacts {
    display: none;
}

@media (min-width: 2560px) {
    .mr-finance-group-heading .mr-finance-group-title {
        font-size: 20px;
    }

    .mr-team .mr-team-grid {
        grid-template-columns: repeat(3, 1fr)
    }

    .mr-finance-stat-heading .mr-finance-stat-title {
        font-size: 14px;
    }

    .mr-finance-stat-content .mr-finance-stat-value {
        font-size: 20px;
    }

    .mr-finance-group-content .mr-finance-stats {
        gap: 16px
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    .mr-sticky .mr-navigation {
        padding-left: 20px;
        padding-right: 20px;
    }

    .mr-widget.mr-widget--finance {
        padding: 0;
    }

    .mr-wrapper .mr-data {
        padding: 14px 20px 98px 20px;
    }

    .mr-navigation-box .mr-tabs-slider {
        max-width: 100%;
    }

    .mr-finance-groups .mr-finance-group {
        padding: 14px 12px;
    }

    .mr-widget.mr-widget--team {
        padding: 14px;
    }

    .mr-navigation .mr-navigation-box {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        gap: 16px;
        padding: 20px;
    }

    .mr-col.mr-col--1 {
        width: 34.6%;
        flex-basis: auto;
    }

    .mr-col.mr-col--2 {
        width: 47%;
        flex-basis: auto;
    }

    .mr-col.mr-col--3 {
        width: 286px;
        flex: none
    }

    .mr-finance-group-heading .mr-finance-group-title {
        text-wrap: nowrap;
    }


    .mr-finance-group .mr-finance-group-heading {
        gap: 4px
    }


    .mr-finance-groups .mr-finance-group {
        gap: 12px;
        overflow: hidden;
    }

    .mr-finance-group-content .mr-finance-stats {
        gap: 5px
    }

    .mr-finance-stat.mr-finance-stat--plan {
        gap: 4px
    }

    .mr-finance-stat.mr-finance-stat--fact {
        gap: 4px
    }

    .mr-finance-stat .mr-finance-stat-content {
        gap: 2px
    }

    .mr-milestone-table-tr .mr-milestone-table-th {
        font-size: 12px;
    }

    .mr-milestone-table .mr-milestone-table-td {
        padding-right: 3px;
    }

    .mr-milestone-table .mr-milestone-table-th {
        text-wrap: nowrap;
    }

    .mr-milestone-table-tr .mr-milestone-fact--black {
        color: #000
    }

    .mr-milestones-content .mr-milestone {
        padding: 4px 0 24px 0;
    }

    .mr-team .mr-team-grid {
        gap: 8px
    }

    .mr-widget.mr-widget--preview {
        padding: 14px;
    }

    .mr-widget .mr-preview {
        gap: 12px
    }

    .mr-widget .mr-preview-content {
        gap: 12px
    }

    .mr-widget .mr-photo-item {
        max-height: 250px;
    }

    .mr-widget .swiper-mr-video .swiper-slide {
        max-width: 150px;
    }

    .mr .mr-col h3 {
        font-size: 16px;
    }

    .mr-photo-params .mr-photo-param {
        padding: 7px 12px;
        font-size: 12px;
        min-height: 26px;
        gap: 8px
    }

    .mr-teammate-action .mr-teammate-action-visual {
        width: 18px;
        height: 18px;
    }

    .mr-photo-params .mr-photo-param-visual {
        height: 14px;
        width: 10px;
    }

    .mr-widget.mr-widget--stages {
        padding: 14px;
    }

    .mr-widget .mr-stages {
        gap: 12px
    }

    .mr-widget .mr-video-item {
        max-height: 80px;
        max-width: 150px;
    }

    .mr-aspect-content .mr-aspect-desc {
        font-size: 14px;
    }

    .mr-aspect-heading .mr-aspect-title {
        font-size: 12px;
    }

    .mr-teammate.is-opened .mr-teammate-contacts {
        padding: 8px 20px 10px 18px;
    }

    .mr-teammate .mr-teammate-card {
        padding-right: 30px;
        flex: 1;
    }

    .mr-teammate .mr-teammate-action {
        min-width: 28px;
    }

    .mr-teammate-contact .mr-teammate-contact-action {
        width: 12px;
        height: 12px;
    }

    .mr-teammate-contact .mr-teammate-contact-visual-icon {
        width: 12px;
        height: 12px;
    }

    .mr-teammate-contact .mr-teammate-contact-visual {
        width: 12px;
        height: 12px;
    }

    .mr-teammate .mr-teammate-contacts {
        padding-right: 20px;
        gap: 6px
    }

    .mr-teammate.is-opened .mr-teammate-contacts::before {
        display: block;
    }

    .mr-teammate .mr-teammate-visual {
        width: 44px;
        height: 44px;
    }

    .mr-team-grid .mr-teammate.is-opened .mr-teammate-card {
        padding: 6px 18px 10px 8px;
    }

    .mr-team-grid .mr-teammate .mr-teammate-card {
        padding: 6px 30px 10px 8px;
    }

    .mr-teammate .mr-teammate-data {
        gap: 4px
    }

    .mr-teammate-data .mr-teammate-name {
        font-size: 12px;
    }

    .mr-teammate-data .mr-teammate-position {
        font-size: 12px;
        line-height: 14.4px;
    }

    .mr-teammate-contacts .mr-teammate-contact {
        font-size: 12px;
        gap: 4px
    }

    .mr-about .mr-participants .mr-participants-action {
        padding: 9px;
        font-size: 12px;
    }

    .mr-preview-heading .mr-preview-definition {
        font-size: 12px;
    }

    .mr-stage-data .mr-stage-visual {
        height: 16px;
        width: 16px;
    }

    .swiper-mr-stages .swiper-button-prev {
        margin-top: -3px;
    }

    .swiper-mr-stages .swiper-button-next {
        margin-top: -3px;
    }

    .mr-stage .mr-stage-line {
        top: 7px
    }

    .mr-preview .mr-preview-heading {
        gap: 20px
    }

    .mr-preview-definitions .mr-preview-definition-visual {
        height: 12px;
        width: 12px;
    }

    .mr-preview-heading .mr-preview-definitions {
        gap: 12px
    }

    .mr-preview-definitions .mr-preview-definition {
        gap: 6px
    }

    .mr-participants .mr-participants-visual {
        height: 18px;
        width: 18px;
    }

    .mr-stages-content .swiper-slide:last-child .mr-stage {
        min-width: fit-content;
    }

    .swiper-slide:last-child .mr-stage .mr-stage-data {
        padding-right: 0;
    }

    .swiper-slide .mr-stage-title {
        font-size: 12px;
    }

    .mr-widget .mr-team {
        gap: 8px
    }

    .mr-team-actions .mr-button-content {
        font-size: 12px;
    }

    .mr-team-actions .mr-button-visual {
        padding: 3px;
    }

    .mr-team-actions .mr-button {
        gap: 0px
    }

    .mr-team-grid .mr-teammate {
        flex-direction: row;
    }

    .mr-photo .swiper-mr-photo .swiper-button {
        top: unset;
        bottom: 0;
        height: 26px;
        width: 26px;
        border-radius: 9px;
    }
}

@media (max-width: 1919px) {

    .mr-about-aspects .mr-aspects {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
        column-gap: 12px;
    }

    .mr-photo .swiper-mr-photo .swiper-button-prev {
        right: 80px;
    }

    .mr-about .mr-about-content {
        gap: 15px
    }

    .mr-widget.mr-widget--about {
        padding: 14px;
    }

    .mr-about-aspects .mr-aspect {
        padding: 12px 0;
        gap: 8px
    }

    .mr-parameter-content .mr-parameter-value {
        font-size: 16px;
    }

    .mr-parameter .mr-parameter-content {
        gap: 4px
    }

    .mr-parameter-content .mr-parameter-desc {
        font-size: 12px;
    }

    .mr-about-parameters .mr-parameters {
        grid-template-columns: repeat(4, 1fr);
    }

    .mr-parameter-heading .mr-parameter-title {
        font-size: 12px;
    }
}

@media (max-width: 1439px) {
    .mr-team__show-more {
        display: flex;
    }

    .mr-team .mr-team-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .mr-team-grid .mr-teammate {
        flex-direction: row;
    }

    .mr-teammate .mr-teammate-card {
        flex: 1;
        padding: 12px 41px 12px 12px;
        gap: 12px;
    }

    .mr-teammate .mr-teammate-contacts {
        gap: 8px;
        padding: 12px 24px 12px 16px;
    }

    .mr-team-grid .mr-teammate-contacts:before {
        display: block;
    }

    .mr-team .mr-team-grid {
        gap: 16px;
        overflow: hidden;
    }

    .mr-finance-stats .mr-finance-stat {
        flex: none
    }

    .mr-finance-group-content .mr-finance-stats {
        gap: 25px
    }

    .mr-finance-stat-content .mr-finance-stat-value {
        font-size: 16px;
    }

    .mr-finance-groups .mr-finance-group {
        gap: 12px
    }

    .mr-finance-groups .mr-finance-group {
        padding: 13px;
    }

    .swiper-slide .mr-stage-title {
        font-size: 12px;
    }

    .mr-teammate .mr-teammate-action {
        display: flex;
    }

    .mr-team .mr-team-grid {
        grid-template-columns: repeat(3, 1fr)
    }

    .mr-teammate-data .mr-teammate-name {
        font-size: 14px;
    }

    .mr-teammate-card .mr-teammate-data {
        gap: 4px
    }

    .mr-grid-container {
        flex-direction: column;
        gap: 16px
    }

    .mr-teammate .mr-teammate-action {
        min-width: 32px;
        right: 12px;
    }

    .mr-teammate-action .mr-teammate-action-visual {
        width: 32px;
        height: 32px;
    }
}

@media only screen and (min-width: 835px) and (max-width: 1023px) {
    .mr-team .mr-team-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .mr-teammate .mr-teammate-contacts {
        flex-direction: row;
        gap: 20px;
    }

    .mr-team-grid .mr-teammate.is-opened .mr-teammate-contact:last-child::before {
        display: block;
    }

    .mr-teammate-contacts .mr-teammate-contact:last-child {
        padding-left: 12px;
    }

    .mr-teammate .mr-teammate-card {
        flex: 1;
        padding-right: 30px;
    }

    .mr-teammate.js-teammate.is-opened .mr-teammate-contacts {
        padding-left: 16px;
        padding-right: 40px;
        justify-content: flex-start;
        gap: 12px
    }
}

@media only screen and (min-width: 1135px) and (max-width: 1439px) and (orientation: landscape) {
    .mr-grid .mr-col--3 {
        display: flex;
        width: 396px;
        flex: none
    }

    .mr-preview-heading .mr-preview-title {
        font-size: 32px;
        line-height: 1.2;
    }
    
    .mr-parameter-heading .mr-parameter-title {
        font-size: 16px;
    }

    .mr-aspect-content .mr-aspect-desc {
        font-size: 18px;
    }

    .swiper-slide .mr-stage-title {
        font-size: 14px;
    }

    .mr-aspect-heading .mr-aspect-title {
        font-size: 16px;
    }

    .mr-parameter-content .mr-parameter-value {
        font-size: 18px;
    }

    .mr-teammate .mr-teammate-contacts {
        flex-direction: row;
        gap: 20px;
    }

    .mr-team-grid .mr-teammate.is-opened .mr-teammate-contact:last-child::before {
        display: block;
    }

    .mr-teammate-contacts .mr-teammate-contact:last-child {
        padding-left: 24px;
    }

    .mr-teammate .mr-teammate-card {
        flex: 1;
        max-width: fit-content;
        padding-right: 30px;
    }

    .mr-teammate.js-teammate.is-opened .mr-teammate-contacts {
        padding-left: 54px;
        padding-right: 40px;
        justify-content: flex-start;
        gap: 24px
    }

    .mr-grid .mr-grid-container {
        flex-direction: column;
        gap: 16px;
    }

    .mr-data .mr-grid {
        flex-direction: row;
    }

    .mr-section.mr-section--milestones {
        display: block;
    }

    .mr-col--2 .mr-section--milestones {
        display: none;
    }

    .mr-team .mr-team-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 833px) {
    .mr-teammate .mr-teammate-action {
        min-width: 32px;
        right: 12px;
    }

    .mr-teammate-action .mr-teammate-action-visual {
        width: 32px;
        height: 32px;
    }

    .mr-teammate.js-teammate.is-opened .mr-teammate-contacts {
        padding-right: 22px;
    }

    .mr-team-grid .mr-teammate {
        flex-direction: column;
    }

    .mr-team-grid .mr-teammate-contacts:before {
        display: none;
    }

    .mr-teammate .mr-teammate-contacts {
        display: flex;
    }

    .mr-teammate .mr-teammate-action {
        display: none;
    }

    .mr-team .mr-team-grid {
        display: flex;
        flex-direction: column;
        gap: 16px
    }

    .mr-photo .swiper-mr-photo .swiper-button {
        display: none;
        visibility: hidden;
    }

    .mr-about-aspects .mr-aspect {
        padding: 0;
    }

    .mr-about .mr-about-content {
        gap: 20px
    }

    .mr-about-aspects .mr-aspects {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .mr-finance .mr-finance-groups {
        flex-direction: column;
    }

    .mr-finance-groups .mr-finance-group {
        padding: 16px;
    }

    .mr-finance-groups .mr-finance-group:not(:last-child) {
        border-right: none;
    }

    .mr-finance-stat-content .mr-finance-stat-value {
        font-size: 20px;
    }

    .mr-finance-group-heading .mr-finance-group-title {
        font-size: 18px;
    }

    .mr-finance-stat-heading .mr-finance-stat-title {
        font-size: 14px;
    }

    .mr-finance-stat-content .mr-finance-stat-desc {
        font-size: 14px;
    }

    .mr-parameter-content .mr-parameter-value {
        font-size: 18px;
    }

    .mr-about-parameters .mr-parameters {
        grid-template-columns: repeat(2, 1fr);
    }

    .mr-stages-content .mr-stages-slider .swiper-slide {
        width: calc((100% - 80px) / 1.5);
    }
}